ul {
	list-style-type: none;
}

.banner {
	display: flex;
	justify-content: space-around;
}

.brand-title {
	display: flex;
}

.products {
	display: flex;
}

.menu {
	display: flex;
}

.product-element {
	padding: 5px;
	color: rgb(24, 28, 33);
}

.menu-element {
	padding: 5px;
	color: rgb(24, 28, 33);
}

#tesla {
	color: rgb(24, 28, 33);
}