body {
	background-image: url(../../images/tesla_model_s.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

a {
	text-decoration: none;
	color: rgb(24, 28, 33);
}
